MOO1  SOUND "Resources\Moo1.wav"
MOO2  SOUND "Resources\Moo2.wav"
MOO3  SOUND "Resources\Moo3.wav"
MOO4  SOUND "Resources\Moo4.wav"
MOO5  SOUND "Resources\Moo5.wav"
MOO6  SOUND "Resources\Moo6.wav"
MOO7  SOUND "Resources\Moo7.wav"
MOO8  SOUND "Resources\Moo8.wav"
MOO9  SOUND "Resources\Moo9.wav"
MOO10 SOUND "Resources\Moo10.wav"

WALLPAPER1 RCDATA "Resources\Wallpaper1.jpg"
WALLPAPER2 RCDATA "Resources\Wallpaper2.jpg"
WALLPAPER3 RCDATA "Resources\Wallpaper3.jpg"
WALLPAPER4 RCDATA "Resources\Wallpaper4.jpg"
WALLPAPER5 RCDATA "Resources\Wallpaper5.jpg"
WALLPAPER6 RCDATA "Resources\Wallpaper6.jpg"
WALLPAPER7 RCDATA "Resources\Wallpaper7.jpg"
WALLPAPER8 RCDATA "Resources\Wallpaper8.jpg"
